@model GiffyCards.Web.ViewModels.Cigar.AllCigarsAdmin
@{
    ViewData["Title"] = "All Cigars";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Cigar Name</th>
            <th scope="col">Cigar Id</th>
            <th scope="col">Price For Single</th>
            <th scope="col">Shape Name</th>
            <th scope="col">Lenght</th>
            <th scope="col">Strenght Type</th>
            <th scope="col">Taste Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AllAdmin)
        {
            <tr>
                <td>
                    @item.CigarName
                </td>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.PriceForSingle
                </td>
                <td>
                    @item.Shape.ShapeName
                </td>
                <td>
                    @item.Size.Lenght
                </td>
                <td>
                    @item.Strenght.StrenghtType
                </td>
                <td>
                    @item.Taste.TasteType
                </td>
                <td>
                    <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>

                </td>
                <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
