@model GiffyCards.Web.ViewModels.Cigar.AllCIgarsViewModel
<!-- Best Sell Product Section Start -->
<div class="product-section section mb-60">
    <div class="container">
        <div class="row">

            <!-- Section Title Start -->
            <div class="col-12 mb-40">
                <div class="section-title-one" data-title="ALL CIAGRS"><h1>ALL CIAGRS</h1></div>
            </div><!-- Section Title End -->
            <div class="col-12">
                <div class="row">
                    @foreach (var cigar in Model.All)
                    {
                        <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
                            <!-- Product Start -->
                            <div class="ee-product">

                                <!-- Image -->
                                <div class="image">

                                    <a href="single-product.html" class="img"><img src="@cigar.ImageUrl" alt="Product Image"></a>

                                    <div class="wishlist-compare">
                                        <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                        <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                    </div>
                                </div>

                                <!-- Content -->
                                <div class="content">

                                    <!-- Category & Title -->
                                    <div class="category-title">

                                        <h5 class="title"><a asp-controller="Brands" asp-action="CigarById" asp-route-id="@cigar.Id">@cigar.CiagrName</a></h5>

                                    </div>

                                    <!-- Price & Ratting -->
                                    <div class="price-ratting">

                                        <h5 class="price">@cigar.PriceForSingle</h5>
                                        <h5 class="price">@cigar.PriceForBox</h5>
                                        <br><br>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>

                                    </div>

                                </div>

                            </div><!-- Product End -->

                        </div>
                    }

                </div>
            </div>

        </div>

    </div>
    <hr />
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item @if(!Model.HasPreviousPage) {<text>disabled</text>}">
                <a class="page-link" asp-action="AllCigars" asp-route-id="@Model.PreviousPageNumber">Previous</a>
            </li>
            @for (int i = Model.PageNumber - 3; i < Model.PageNumber; i++)
            {
                @if (i > 0)
                {
                    <li class="page-item"><a class="page-link" asp-action="AllCigars" asp-route-id="@i">@i</a></li>
                }
            }
            <li class="page-item active">
                <span class="page-link">
                    @Model.PageNumber
                    <span class="sr-only">(current)</span>
                </span>
            </li>
            @for (int i = Model.PageNumber + 1; i < Model.PageNumber + 3; i++)
            {
                @if (i <= Model.PagesCount)
                {
                    <li class="page-item"><a class="page-link" asp-action="AllCigars" asp-route-id="@i">@i</a></li>
                }
            }
            <li class="page-item @if(!Model.HasNextPage) {<text>disabled</text>}">
                <a class="page-link" asp-action="AllCigars" asp-route-id="@Model.NextPageNumber">Next</a>
            </li>
        </ul>
    </nav>
</div>

