@model GiffyCards.Web.ViewModels.Brands.BrandDescription

<main id="maincontent" class="page-main">
    <a id="contentarea" tabindex="-1"></a>
    <div class="page-title-wrapper">
        <h1 class="page-title" id="page-title-heading" aria-labelledby="page-title-heading toolbar-amount">
            <span class="base" data-ui-id="page-title-wrapper">@Model.BrandName</span>
        </h1>
    </div>
    <div class="page messages">
        <div data-placeholder="messages"></div>
        <div data-bind="scope: 'messages'">
            <!-- ko if: cookieMessages && cookieMessages.length > 0 --><!-- /ko -->
            <!-- ko if: messages().messages && messages().messages.length > 0 --><!-- /ko -->
        </div>

    </div><div class="category-view">
        <div id="pagebuilder-category-landing">

        </div>
        <div class="ec-row">
            <div class="ec-col-sm-3 text-center">
                <div class="category-image">
                    <img src=@Model.ImageUrl alt="Bolivar" title=@Model.BrandName class="image">
                </div>
            </div>
            <div class="ec-col-sm-9">
                <div class="category-description">
                    <p>
                        <span>@Model.Description</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Best Sell Product Section Start -->
    <div class="product-section section mb-60">
        <div class="container">
            <div class="row">

                <!-- Section Title Start -->
                <div class="col-12 mb-40">
                    <div class="section-title-one" data-title="BEST SELLER"><h1>BEST SELLERS</h1></div>
                </div><!-- Section Title End -->

                <div class="col-12">
                    <div class="row">
                        @foreach (var cigar in Model.Cigars)
                        {

                            <div class="col-xl-3 col-lg-4 col-md-6 col-12 pb-30 pt-10">
                                <!-- Product Start -->
                                <div class="ee-product">

                                    <!-- Image -->
                                    <div class="image">

                                        <a href="single-product.html" class="img"><img src="@cigar.ImageUrl" alt="Product Image"></a>

                                        <div class="wishlist-compare">
                                            <a href="#" data-tooltip="Compare"><i class="ti-control-shuffle"></i></a>
                                            <a href="#" data-tooltip="Wishlist"><i class="ti-heart"></i></a>
                                        </div>

                                        <a href="#" class="add-to-cart"><i class="ti-shopping-cart"></i><span>ADD TO CART</span></a>

                                    </div>

                                    <!-- Content -->
                                    <div class="content">

                                        <!-- Category & Title -->
                                        <div class="category-title">

                                            <h5 class="title"><a asp-action="CigarById" asp-route-id="@cigar.Id">@cigar.CiagrName</a></h5>

                                        </div>

                                        <!-- Price & Ratting -->
                                        <div class="price-ratting">

                                            <h5 class="price">@cigar.PriceForSingle</h5>
                                            <h5 class="price">@cigar.PriceForBox</h5>
                                            <br><br>
                                            <div class="ratting"  >
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>

                                        </div>

                                    </div>

                                </div><!-- Product End -->

                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Best Sell Product Section End -->
</main>